.admin-page {
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .admin-content {
    flex-grow: 1;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
  }

  .change-password-form {
    margin-bottom: 2rem;
  }

  .change-password-form h3 {
    margin-bottom: 1rem;
  }

  .change-password-form form {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .change-password-form input {
    flex: 1;
    padding-right: 100rem;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    border: 1px solid var(--text-color-secondary);
    border-radius: 4px;
    background-color: var(--background-color);
    color: var(--text-color);

  }

  .change-password-form button {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .change-password-form button:hover {
    background-color: var(--accent-color);
  }

  .password-input-container {
    position: relative;
    display: flex;
    flex: 1;
  }

  .password-input-container input {
    padding-right: 2.5rem; /* Make space for the button */
  }

  .show-hide-button {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-color-secondary);
  }

  .back-link {
    color: var(--primary-color);
    text-decoration: none;
    margin-top: 2rem;
    display: inline-block;
  }

  .back-link:hover {
    text-decoration: underline;
  }

  @media screen and (max-width: 768px) {
    .change-password-form form {
      flex-direction: column;
    }
  }
